:root {
    --primary-color: #33658a;
    --secondary-color: #78c0e0;
    --accent1-color: #cab6cd;
    --accent-color: #ba8f95;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    max-width: 1100px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
}

header img {
    height: 50px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    align-items: end;
}


.hero {
    text-align: center;
    padding: 20px;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 2em;
}

.hero article {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hero article img {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

h2{
    text-align: center;
    color:#33658a

}
.history {
    margin: 30px 0;
    text-align: center;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
}

.history img {
    width: 100px;
    height: auto;
}

.adventure-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

.adventure-gallery figure {
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
}

.adventure-gallery img {
    width: 120px;
    height: auto;
    display: block;
    border-radius: 5px;
}

figcaption {
    font-size: 14px;
    margin-top: 5px;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links a img {
    width: 30px;
    height: auto;
}
