:root {
    --primary-color: #33658aff;
    --secondary-color: #78c0e0ff;
    --accent1-color: #cab6cdff;
    --accent-color: #ba8f95ff;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: auto;
}

.hero {
    position: relative;
    text-align: center;
}

.hero h1 {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.hero article img {
    width: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

main {
    text-align: center;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

.adventure-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
}

.adventure-images img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 10px;
    background: var(--secondary-color);
    color: white;
}

footer .sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    width: 30px;
    height: 30px;
}
